[Unit]
Description=High performance and high-precision multithreaded StatsD server
After=syslog.target network.target

[Service]
Type=simple
User=bioyino
Group=bioyino
EnvironmentFile=/etc/sysconfig/bioyino
ExecStart=/usr/bin/bioyino $BIOYINO_ARGS
ExecReload=/usr/bin/kill -USR2 $MAINPID
PIDFile=/var/run/bioyino/bioyino.pid
LimitNOFILE=65536
RuntimeDirectory=bioyino
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
